In [40]:
import pandas as pd
import matplotlib.pyplot as plt
from ipywidgets import interact

In [41]:
# Import data
df = pd.read_csv('../Resources/Cleaning2/merged_events_bio.csv')
df.head(5)

,Athlete_ID,Name,Age,Sex,Height(cm),Weight(kg),Sport,Country_Name,Country_Code,Year,Season,isTeamSport,Medal,Result_ID
0,16809,Károly Teppert,21.0,M,NaN,NaN,Cycling Road,Hungary,HUN,1912,Summer,False,na,153233
1,16809,Károly Teppert,21.0,M,NaN,NaN,Cycling Road,Hungary,HUN,1912,Summer,True,na,153234
2,43737,Andrzej Socharski,29.0,M,173.0,72.0,Shooting,Poland,POL,1976,Summer,False,na,51745
3,50147,Nathalie Wunderlich,21.0,F,170.0,50.0,Swimming,Switzerland,SUI,1992,Summer,False,na,7860
4,50147,Nathalie Wunderlich,21.0,F,170.0,50.0,Swimming,Switzerland,SUI,1992,Summer,False,na,7870

In [42]:
df = df.rename(columns={'Sex': 'Gender'})
df.head(5)

,Athlete_ID,Name,Age,Gender,Height(cm),Weight(kg),Sport,Country_Name,Country_Code,Year,Season,isTeamSport,Medal,Result_ID
0,16809,Károly Teppert,21.0,M,NaN,NaN,Cycling Road,Hungary,HUN,1912,Summer,False,na,153233
1,16809,Károly Teppert,21.0,M,NaN,NaN,Cycling Road,Hungary,HUN,1912,Summer,True,na,153234
2,43737,Andrzej Socharski,29.0,M,173.0,72.0,Shooting,Poland,POL,1976,Summer,False,na,51745
3,50147,Nathalie Wunderlich,21.0,F,170.0,50.0,Swimming,Switzerland,SUI,1992,Summer,False,na,7860
4,50147,Nathalie Wunderlich,21.0,F,170.0,50.0,Swimming,Switzerland,SUI,1992,Summer,False,na,7870

In [45]:
# create a function to update the plot based on the selected year
def update_plot(year):
    # filter by year and gender
    filtered_df = df[(df['Year'] == year) * ([df['Gender'] == gender]) & ([df['Sport'] == sport]) & ([df['Country_Name'] == country])]
  
    # filter out rows where no medal was received
    filtered_df = filtered_df[~(filtered_df['Medal'] == 'na')]
    
    # create a pivot table to count medals by age, gender, and medal type
    medal_counts = pd.pivot_table(filtered_df, index=['Age', 'Gender', 'Sport', 'Country_Name'], columns='Medal', values='Name', aggfunc='count', fill_value=0)
  
    # create a stacked bar chart
    medal_counts.plot(kind='bar', stacked=True)

    # set x and y axis labels
    plt.xlabel('Age and Gender')
    plt.ylabel('Medal Count')

    # show the plot
    plt.show()

In [46]:
# create dropdowns to select data
years = df['Year'].unique()
genders = df['Gender'].unique()
sports = df['Sport'].unique()
countries = df['Country_Name'].unique()
interact(update_plot, year=years, gender=genders, sport=sports, country=countries);

interactive(children=(Dropdown(description='year', options=(1912, 1976, 1992, 1960, 2016, 2020, 1964, 1952, 19…