## Import Tables

In [1]:
import pandas as pd
import numpy as np

In [2]:
gdp = pd.read_csv('../Resources/gdp_pop_medals/gpd_medals_total.csv')
gdp.tail()

,Country_Name,Country_Code,Year,GDP,Gold,Silver,Bronze,Total_Medals,Season
921,Uganda,UGA,2020,846.767201,2,1,1,4,Summer
922,Ukraine,UKR,2020,3751.740723,1,6,12,19,Summer
923,United States,USA,2020,63530.633480,39,41,33,113,Summer
924,Uzbekistan,UZB,2020,1749.655815,3,0,2,5,Summer
925,"Venezuela, RB",VEN,2020,NaN,1,3,0,4,Summer

In [3]:
pop = pd.read_csv('../Resources/gdp_pop_medals/pop_medals_total.csv')
pop.tail()

,Country_Name,Country_Code,Year,Population,Gold,Silver,Bronze,Total_Medals,Season
921,Uganda,UGA,2020,44404611.0,2,1,1,4,Summer
922,Ukraine,UKR,2020,44132049.0,1,6,12,19,Summer
923,United States,USA,2020,331501080.0,39,41,33,113,Summer
924,Uzbekistan,UZB,2020,34232050.0,3,0,2,5,Summer
925,"Venezuela, RB",VEN,2020,28490453.0,1,3,0,4,Summer

In [4]:
population = pop[["Country_Name", "Year", "Population"]]
population.tail()

      Country_Name  Year   Population
921         Uganda  2020   44404611.0
922        Ukraine  2020   44132049.0
923  United States  2020  331501080.0
924     Uzbekistan  2020   34232050.0
925  Venezuela, RB  2020   28490453.0

In [5]:
df = pd.merge(gdp, population, on= ["Country_Name", "Year"]).reset_index()
df.head()

,index,Country_Name,Country_Code,Year,GDP,Gold,Silver,Bronze,Total_Medals,Season,Population
0,0,Argentina,ARG,1960,NaN,0,1,1,2,Summer,20349744.0
1,1,Australia,AUS,1960,1810.510249,8,8,6,22,Summer,10276477.0
2,2,Austria,AUT,1960,935.460427,1,1,0,2,Summer,7047539.0
3,3,Austria,AUT,1960,935.460427,1,1,0,2,Summer,7047539.0
4,4,Austria,AUT,1960,935.460427,1,2,3,6,Winter,7047539.0

In [6]:
df = df.drop('index', axis=1)
df= df[["Country_Name", "Country_Code", "Year", "GDP", "Population", "Gold", "Silver", "Bronze", "Total_Medals", "Season"]]
df

,Country_Name,Country_Code,Year,GDP,Population,Gold,Silver,Bronze,Total_Medals,Season
0,Argentina,ARG,1960,NaN,20349744.0,0,1,1,2,Summer
1,Australia,AUS,1960,1810.510249,10276477.0,8,8,6,22,Summer
2,Austria,AUT,1960,935.460427,7047539.0,1,1,0,2,Summer
3,Austria,AUT,1960,935.460427,7047539.0,1,1,0,2,Summer
4,Austria,AUT,1960,935.460427,7047539.0,1,2,3,6,Winter
...,...,...,...,...,...,...,...,...,...,...
1091,Uganda,UGA,2020,846.767201,44404611.0,2,1,1,4,Summer
1092,Ukraine,UKR,2020,3751.740723,44132049.0,1,6,12,19,Summer
1093,United States,USA,2020,63530.633480,331501080.0,39,41,33,113,Summer
1094,Uzbekistan,UZB,2020,1749.655815,34232050.0,3,0,2,5,Summer
1095,"Venezuela, RB",VEN,2020,NaN,28490453.0,1,3,0,4,Summer

In [7]:
# Reset GDP for capita calculation
df['GDP'] = df['GDP'].multiply(1000)
df['GDP'] = df['GDP'].fillna(0)
df

,Country_Name,Country_Code,Year,GDP,Population,Gold,Silver,Bronze,Total_Medals,Season
0,Argentina,ARG,1960,0.000000e+00,20349744.0,0,1,1,2,Summer
1,Australia,AUS,1960,1.810510e+06,10276477.0,8,8,6,22,Summer
2,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer
3,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer
4,Austria,AUT,1960,9.354604e+05,7047539.0,1,2,3,6,Winter
...,...,...,...,...,...,...,...,...,...,...
1091,Uganda,UGA,2020,8.467672e+05,44404611.0,2,1,1,4,Summer
1092,Ukraine,UKR,2020,3.751741e+06,44132049.0,1,6,12,19,Summer
1093,United States,USA,2020,6.353063e+07,331501080.0,39,41,33,113,Summer
1094,Uzbekistan,UZB,2020,1.749656e+06,34232050.0,3,0,2,5,Summer
1095,"Venezuela, RB",VEN,2020,0.000000e+00,28490453.0,1,3,0,4,Summer

In [8]:
df['Population'] = df['Population'].fillna(0)

In [9]:
#calculate GDP per Capita
df['GDP_per_capita'] = df['GDP'] / df['Population']
df

,Country_Name,Country_Code,Year,GDP,Population,Gold,Silver,Bronze,Total_Medals,Season,GDP_per_capita
0,Argentina,ARG,1960,0.000000e+00,20349744.0,0,1,1,2,Summer,0.000000
1,Australia,AUS,1960,1.810510e+06,10276477.0,8,8,6,22,Summer,0.176180
2,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer,0.132736
3,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer,0.132736
4,Austria,AUT,1960,9.354604e+05,7047539.0,1,2,3,6,Winter,0.132736
...,...,...,...,...,...,...,...,...,...,...,...
1091,Uganda,UGA,2020,8.467672e+05,44404611.0,2,1,1,4,Summer,0.019069
1092,Ukraine,UKR,2020,3.751741e+06,44132049.0,1,6,12,19,Summer,0.085012
1093,United States,USA,2020,6.353063e+07,331501080.0,39,41,33,113,Summer,0.191645
1094,Uzbekistan,UZB,2020,1.749656e+06,34232050.0,3,0,2,5,Summer,0.051112
1095,"Venezuela, RB",VEN,2020,0.000000e+00,28490453.0,1,3,0,4,Summer,0.000000

In [10]:
# multiply medal by points
df["Gold_Score"] = df["Gold"]*3
df["Silver_Score"] = df["Silver"]*2
df["Bronze_Score"] = df["Bronze"]*1
df['Total_Score'] = df['Gold_Score'] + df['Silver_Score'] + df['Bronze_Score']
df

,Country_Name,Country_Code,Year,GDP,Population,Gold,Silver,Bronze,Total_Medals,Season,GDP_per_capita,Gold_Score,Silver_Score,Bronze_Score,Total_Score
0,Argentina,ARG,1960,0.000000e+00,20349744.0,0,1,1,2,Summer,0.000000,0,2,1,3
1,Australia,AUS,1960,1.810510e+06,10276477.0,8,8,6,22,Summer,0.176180,24,16,6,46
2,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer,0.132736,3,2,0,5
3,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer,0.132736,3,2,0,5
4,Austria,AUT,1960,9.354604e+05,7047539.0,1,2,3,6,Winter,0.132736,3,4,3,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,Uganda,UGA,2020,8.467672e+05,44404611.0,2,1,1,4,Summer,0.019069,6,2,1,9
1092,Ukraine,UKR,2020,3.751741e+06,44132049.0,1,6,12,19,Summer,0.085012,3,12,12,27
1093,United States,USA,2020,6.353063e+07,331501080.0,39,41,33,113,Summer,0.191645,117,82,33,232
1094,Uzbekistan,UZB,2020,1.749656e+06,34232050.0,3,0,2,5,Summer,0.051112,9,0,2,11
1095,"Venezuela, RB",VEN,2020,0.000000e+00,28490453.0,1,3,0,4,Summer,0.000000,3,6,0,9

In [11]:
# calculate medal count per GPD
df['Medal_score_per_GDP'] = df['Total_Score'] / df['GDP']
df

,Country_Name,Country_Code,Year,GDP,Population,Gold,Silver,Bronze,Total_Medals,Season,GDP_per_capita,Gold_Score,Silver_Score,Bronze_Score,Total_Score,Medal_score_per_GDP
0,Argentina,ARG,1960,0.000000e+00,20349744.0,0,1,1,2,Summer,0.000000,0,2,1,3,inf
1,Australia,AUS,1960,1.810510e+06,10276477.0,8,8,6,22,Summer,0.176180,24,16,6,46,0.000025
2,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer,0.132736,3,2,0,5,0.000005
3,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer,0.132736,3,2,0,5,0.000005
4,Austria,AUT,1960,9.354604e+05,7047539.0,1,2,3,6,Winter,0.132736,3,4,3,10,0.000011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,Uganda,UGA,2020,8.467672e+05,44404611.0,2,1,1,4,Summer,0.019069,6,2,1,9,0.000011
1092,Ukraine,UKR,2020,3.751741e+06,44132049.0,1,6,12,19,Summer,0.085012,3,12,12,27,0.000007
1093,United States,USA,2020,6.353063e+07,331501080.0,39,41,33,113,Summer,0.191645,117,82,33,232,0.000004
1094,Uzbekistan,UZB,2020,1.749656e+06,34232050.0,3,0,2,5,Summer,0.051112,9,0,2,11,0.000006
1095,"Venezuela, RB",VEN,2020,0.000000e+00,28490453.0,1,3,0,4,Summer,0.000000,3,6,0,9,inf

In [12]:
# calculate medal count per GPD
df['Medal_score_per_capita'] = df['Total_Score'] / df['Population']
df

,Country_Name,Country_Code,Year,GDP,Population,Gold,Silver,Bronze,Total_Medals,Season,GDP_per_capita,Gold_Score,Silver_Score,Bronze_Score,Total_Score,Medal_score_per_GDP,Medal_score_per_capita
0,Argentina,ARG,1960,0.000000e+00,20349744.0,0,1,1,2,Summer,0.000000,0,2,1,3,inf,1.474220e-07
1,Australia,AUS,1960,1.810510e+06,10276477.0,8,8,6,22,Summer,0.176180,24,16,6,46,0.000025,4.476242e-06
2,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer,0.132736,3,2,0,5,0.000005,7.094675e-07
3,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer,0.132736,3,2,0,5,0.000005,7.094675e-07
4,Austria,AUT,1960,9.354604e+05,7047539.0,1,2,3,6,Winter,0.132736,3,4,3,10,0.000011,1.418935e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,Uganda,UGA,2020,8.467672e+05,44404611.0,2,1,1,4,Summer,0.019069,6,2,1,9,0.000011,2.026817e-07
1092,Ukraine,UKR,2020,3.751741e+06,44132049.0,1,6,12,19,Summer,0.085012,3,12,12,27,0.000007,6.118003e-07
1093,United States,USA,2020,6.353063e+07,331501080.0,39,41,33,113,Summer,0.191645,117,82,33,232,0.000004,6.998469e-07
1094,Uzbekistan,UZB,2020,1.749656e+06,34232050.0,3,0,2,5,Summer,0.051112,9,0,2,11,0.000006,3.213363e-07
1095,"Venezuela, RB",VEN,2020,0.000000e+00,28490453.0,1,3,0,4,Summer,0.000000,3,6,0,9,inf,3.158953e-07

In [13]:
# replace inf with zero
df['Medal_score_per_GDP'] = df['Medal_score_per_GDP'].replace([np.inf, -np.inf], 0)
df.head()

,Country_Name,Country_Code,Year,GDP,Population,Gold,Silver,Bronze,Total_Medals,Season,GDP_per_capita,Gold_Score,Silver_Score,Bronze_Score,Total_Score,Medal_score_per_GDP,Medal_score_per_capita
0,Argentina,ARG,1960,0.000000e+00,20349744.0,0,1,1,2,Summer,0.000000,0,2,1,3,0.000000,1.474220e-07
1,Australia,AUS,1960,1.810510e+06,10276477.0,8,8,6,22,Summer,0.176180,24,16,6,46,0.000025,4.476242e-06
2,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer,0.132736,3,2,0,5,0.000005,7.094675e-07
3,Austria,AUT,1960,9.354604e+05,7047539.0,1,1,0,2,Summer,0.132736,3,2,0,5,0.000005,7.094675e-07
4,Austria,AUT,1960,9.354604e+05,7047539.0,1,2,3,6,Winter,0.132736,3,4,3,10,0.000011,1.418935e-06

In [14]:
df.columns

Index(['Country_Name', 'Country_Code', 'Year', 'GDP', 'Population', 'Gold',
       'Silver', 'Bronze', 'Total_Medals', 'Season', 'GDP_per_capita',
       'Gold_Score', 'Silver_Score', 'Bronze_Score', 'Total_Score',
       'Medal_score_per_GDP', 'Medal_score_per_capita'],
      dtype='object')

In [15]:
df = df[['Country_Name', 'Country_Code','Season', 'Year', 'GDP', 'Population', 'GDP_per_capita', 'Gold',
       'Silver', 'Bronze', 'Total_Medals', 'Gold_Score',
       'Silver_Score', 'Bronze_Score', 'Total_Score', 'Medal_score_per_GDP','Medal_score_per_capita']]
df

,Country_Name,Country_Code,Season,Year,GDP,Population,GDP_per_capita,Gold,Silver,Bronze,Total_Medals,Gold_Score,Silver_Score,Bronze_Score,Total_Score,Medal_score_per_GDP,Medal_score_per_capita
0,Argentina,ARG,Summer,1960,0.000000e+00,20349744.0,0.000000,0,1,1,2,0,2,1,3,0.000000,1.474220e-07
1,Australia,AUS,Summer,1960,1.810510e+06,10276477.0,0.176180,8,8,6,22,24,16,6,46,0.000025,4.476242e-06
2,Austria,AUT,Summer,1960,9.354604e+05,7047539.0,0.132736,1,1,0,2,3,2,0,5,0.000005,7.094675e-07
3,Austria,AUT,Summer,1960,9.354604e+05,7047539.0,0.132736,1,1,0,2,3,2,0,5,0.000005,7.094675e-07
4,Austria,AUT,Winter,1960,9.354604e+05,7047539.0,0.132736,1,2,3,6,3,4,3,10,0.000011,1.418935e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,Uganda,UGA,Summer,2020,8.467672e+05,44404611.0,0.019069,2,1,1,4,6,2,1,9,0.000011,2.026817e-07
1092,Ukraine,UKR,Summer,2020,3.751741e+06,44132049.0,0.085012,1,6,12,19,3,12,12,27,0.000007,6.118003e-07
1093,United States,USA,Summer,2020,6.353063e+07,331501080.0,0.191645,39,41,33,113,117,82,33,232,0.000004,6.998469e-07
1094,Uzbekistan,UZB,Summer,2020,1.749656e+06,34232050.0,0.051112,3,0,2,5,9,0,2,11,0.000006,3.213363e-07
1095,"Venezuela, RB",VEN,Summer,2020,0.000000e+00,28490453.0,0.000000,1,3,0,4,3,6,0,9,0.000000,3.158953e-07

In [16]:
zero_gdp_pop_rows = df[(df['GDP'] == 0) | (df['Population'] == 0)]
zero_gdp_pop_rows

,Country_Name,Country_Code,Season,Year,GDP,Population,GDP_per_capita,Gold,Silver,Bronze,Total_Medals,Gold_Score,Silver_Score,Bronze_Score,Total_Score,Medal_score_per_GDP,Medal_score_per_capita
0,Argentina,ARG,Summer,1960,0.0,20349744.0,0.0,0,1,1,2,0,2,1,3,0.0,1.474220e-07
13,Ethiopia,ETH,Summer,1960,0.0,21739710.0,0.0,1,0,0,1,3,0,0,3,0.0,1.379963e-07
24,Hungary,HUN,Summer,1960,0.0,9983967.0,0.0,6,8,7,21,18,16,7,41,0.0,4.106584e-06
40,Poland,POL,Summer,1960,0.0,29637450.0,0.0,4,6,11,21,12,12,11,35,0.0,1.180938e-06
41,Poland,POL,Summer,1960,0.0,29637450.0,0.0,4,6,11,21,12,12,11,35,0.0,1.180938e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,"Korea, Dem. People's Rep.",PRK,Summer,2012,0.0,24887770.0,0.0,4,0,3,7,12,0,3,15,0.0,6.027057e-07
991,"Korea, Dem. People's Rep.",PRK,Summer,2016,0.0,25389611.0,0.0,2,3,2,7,6,6,2,14,0.0,5.514066e-07
1007,"Venezuela, RB",VEN,Summer,2016,0.0,30741464.0,0.0,0,2,1,3,0,4,1,5,0.0,1.626468e-07
1088,Turkmenistan,TKM,Summer,2020,0.0,6250438.0,0.0,0,1,0,1,0,2,0,2,0.0,3.199776e-07
1095,"Venezuela, RB",VEN,Summer,2020,0.0,28490453.0,0.0,1,3,0,4,3,6,0,9,0.0,3.158953e-07

In [17]:
zero_gdp_pop_rows.to_csv('GDP_missing_data.csv')
df.to_csv('calculations_per_capita_and_medal_score.csv')