In [1]:
import pandas as pd

In [2]:
events_df = pd.read_csv('../Resources/Olympic_Athlete_Event_Results_1896_2022.csv')
events_df.head()

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,na,False
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,na,False
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,na,False
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,na,False
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,na,False

In [3]:
events_df = events_df.rename(columns={"country_noc": "Country_Code", 'athlete': "Name", "sport":"Sport", "medal": "Medal", "event": "Sex"})
events_df = events_df.drop(['edition_id', 'result_id', 'athlete_id', 'pos'], axis =1)
events_df.head()

,edition,Country_Code,Sport,Sex,Name,Medal,isTeamSport
0,1908 Summer Olympics,ANZ,Athletics,"100 metres, Men",Ernest Hutcheon,na,False
1,1908 Summer Olympics,ANZ,Athletics,"400 metres, Men",Henry Murray,na,False
2,1908 Summer Olympics,ANZ,Athletics,"800 metres, Men",Harvey Sutton,na,False
3,1908 Summer Olympics,ANZ,Athletics,"800 metres, Men",Guy Haskins,na,False
4,1908 Summer Olympics,ANZ,Athletics,"800 metres, Men",Joseph Lynch,na,False

In [4]:
events_df['Sex'] = events_df['Sex'].replace('Men', 'M', inplace=True)
events_df['Sex'] = events_df['Sex'].replace('Women', 'F',inplace=True)

In [5]:
events_df[['Year','Season', 'delete']] = events_df.edition.str.split(expand=True)
events_df = events_df.drop(['delete', 'edition'], axis = 1)
events_df.head()

,Country_Code,Sport,Sex,Name,Medal,isTeamSport,Year,Season
0,ANZ,Athletics,None,Ernest Hutcheon,na,False,1908,Summer
1,ANZ,Athletics,None,Henry Murray,na,False,1908,Summer
2,ANZ,Athletics,None,Harvey Sutton,na,False,1908,Summer
3,ANZ,Athletics,None,Guy Haskins,na,False,1908,Summer
4,ANZ,Athletics,None,Joseph Lynch,na,False,1908,Summer

In [7]:
events_df.to_csv('../Resources/clean_events.csv')